/* ==========================
   Google Font
========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ==========================
   Global
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html,
body,
#root{

    width:100%;
    height:100%;

    overflow:hidden;

}

body{

    color:white;

    background:linear-gradient(
        135deg,
        #0F172A 0%,
        #1E1B4B 45%,
        #164E63 100%
    );

    background-attachment:fixed;
}

/* ==========================
   Main Layout
========================== */

.app{

    display:flex;

    width:100vw;

    height:100vh;

    overflow:hidden;

}

/* ==========================
   Scrollbar
========================== */

::-webkit-scrollbar{

    width:8px;

}

::-webkit-scrollbar-thumb{

    background:#475569;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:transparent;

}